body{
    background-color: aquamarine;
}
h1{
    text-align: center;
}

#btn2{
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: yellow;
    font-size: 20px;
    
}

#submit{
    font-size: larger;
    margin-left: 160px;
}

#div1{
    border-style: dotted;
    padding: 30px;
    margin: auto;
    display: inline-block;
    margin-left: 34%;
}