body {
    background-color: yellow;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: purple;
    text-shadow: 4px 4px 4px  red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
    word-spacing: 25px;
    line-height: 100px;
}

button{
    cursor: pointer;
    background-color: aqua;
    font-size: 30px;
    border-radius: 10px;
    margin-left: 600px;
    
}
